<div class="container container-email mt-5">
  <div class="row">
    <table class="table justify-content-center border">
      <thead>
      <tr>
        <th class="text-center" scope="col">Email</th>
        <th class="text-center" scope="col">Styczeń - runda 1</th>
        <th class="text-center" scope="col">Lista błędów</th>
      </tr>
      </thead>
    </table>
    <table class="table justify-content-center border">
      <tr>
        <td class="text-center text-uppercase p-3" scope="col">
          Sprawdź czy podjęte zostały wszystkie najważniejsze decyzje. Popraw błędy krytyczne (czerwone), a pozostałe
          zweryfikuj tzn. sprawdź czy na pewno chcesz pominąć daną decyzję lub czy podane liczby są prawidłowe.
        </td>
      </tr>
      <tr class="border justify-content-center bg-secondary">
        <td class="text-center text-uppercase p-3"><b>BŁĄD</b></td>
        <td class="text-center text-uppercase p-3"></td>
      </tr>
      <tr class="border justify-content-center">
        <td class="text-center p-3 text-danger">Nie podano nazwy firmy.</td>
        <td class="text-center p-3"><button class="btn btn-outline-danger">Popraw</button></td>
      </tr>
      <tr class="border justify-content-center">
        <td class="text-center p-3 text-danger">Nie podano misji firmy.</td>
        <td class="text-center p-3"><button class="btn btn-outline-danger">Popraw</button></td>
      </tr>
      <tr class="border justify-content-center">
        <td class="text-center p-3 text-danger">Nie uruchomiono stanowisk.</td>
        <td class="text-center p-3"><button class="btn btn-outline-danger">Popraw</button></td>
      </tr>
    </table>
  </div>
</div>
