<div class="container">
  <h3 class="mt-5">Lista użytkowników:</h3>
  <table class="table mt-2">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa użytkownika</th>
      <th scope="col">Rola</th>
      <th scope="col">Usuń użytkownika</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteUser(user.id)">
          Usuń
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
