<div class="container-fluid border">
  <nav class="navbar navbar-light navbar-expand-lg navbar-light bg-light">
    <img class="main-icon" src="assets/icons/hotel.png" alt=""/>
    <a class="navbar-brand app-name" href="#">Hotel</a>

    <div class="container-fluid justify-content-center collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <img class="menu-icon" src="assets/icons/email.png" alt=""/>
        <li class="nav-item active">
          <a class="nav-link" routerLink="email">Email</a>
        </li>

        <img class="menu-icon" src="assets/icons/admin.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" routerLink="panel">Panel administratora</a>
        </li>

        <img class="menu-icon" src="assets/icons/games.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" routerLink="games">Lista gier</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
