<div class="container-fluid border">
  <nav class="navbar navbar-light navbar-expand-lg navbar-light bg-light">
    <img class="main-icon" src="../../assets/icons/hotel.png" alt=""/>
    <a class="navbar-brand app-name" href="#">Hotel</a>

    <div *ngIf="false" class="container-fluid justify-content-center collapse navbar-collapse" id="start-nav">
      <ul class="navbar-nav m-auto">
        <img class="menu-icon" src="assets/icons/admin.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" routerLink="panel">Panel administratora</a>
        </li>

        <img class="menu-icon" src="assets/icons/games.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" routerLink="games">Lista gier</a>
        </li>
      </ul>
    </div>

    <div *ngIf="true" class="container-fluid justify-content-center collapse navbar-collapse" id="game-nav">
      <ul class="navbar-nav m-auto">
        <img class="menu-icon" src="../../assets/icons/email.png" alt=""/>
        <li class="nav-item active">
          <a class="nav-link" routerLink="email">Email</a>
        </li>

        <img class="menu-icon" src="../../assets/icons/name.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" routerLink="company-name">Nazwa</a>
        </li>

        <img class="menu-icon" src="../../assets/icons/mission.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" routerLink="mission">Misja</a>
        </li>

        <img class="menu-icon" src="../../assets/icons/offer.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" routerLink="offer">Oferta</a>
        </li>

        <img class="menu-icon" src="../../assets/icons/investment.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" routerLink="investments">Inwestycje</a>
        </li>

        <img class="menu-icon" src="../../assets/icons/finances.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" routerLink="finance">Finanse</a>
        </li>

        <img class="menu-icon" src="../../assets/icons/bugs.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" routerLink="errors">Lista błędów</a>
        </li>

        <img class="menu-icon" src="../../assets/icons/send.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link"><u>Wyślij</u></a>
        </li>
      </ul>
    </div>

    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="login"><u>Zaloguj</u></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="logout()"><u>Wyloguj</u></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
