<div class="container-fluid border">
  <nav class="navbar navbar-light navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hotel</a>

    <div class="container-fluid collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="email">Email</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="company-name">Nazwa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mission">Misja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="offer">Oferta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="investments">Inwestycje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="finance">Finanse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="errors">Lista błędów</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><u>Wyślij</u></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
