<div class="container mt-5 justify-content-center text-center">
  <ng-container *ngIf="game.userRound != game.globalRound">
    <p class="text-danger">Nie wszyscy gracze ukończyli obecną rundę.</p>
    <p class="text-danger">Przejście do następnej rundy będzie możliwe dopiero wtedy, kiedy wszyscy gracze ukończą
      rundę {{game.globalRound}}</p>
  </ng-container>

  <table class="table">
    <thead>
    <tr>
      <th><h3 class="h3">Nazwa gry</h3></th>
      <th><h3 class="h3">{{game.name}}</h3></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><h3 class="h3">Typ gry</h3></td>
      <td><h3 class="h3">{{game.type}}</h3></td>
    </tr>
    <tr>
      <td><h3 class="h3">Liczba graczy</h3></td>
      <td><h3 class="h3">{{game.usersCount}}</h3></td>
    </tr>
    <tr>
      <td><h3 class="h3">Obecna runda</h3></td>
      <td><h3 class="h3">{{game.globalRound}}</h3></td>
    </tr>
    <tr>
      <td><h3 class="h3">Twoja runda</h3></td>
      <td><h3 class="h3">{{game.userRound}}</h3></td>
    </tr>
    </tbody>
  </table>

</div>
