<div class="container container-email mt-5">
  <div class="row">
    <table class="table justify-content-center border">
      <thead>
      <tr>
        <th class="text-center" scope="col">Email</th>
        <th class="text-center" scope="col">Styczeń - runda 1</th>
        <th class="text-center" scope="col">Skrzynka pocztowa</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="row">
    <table class="table justify-content-center border">
      <thead class="bg-secondary">
      <tr>
        <th class="text-center" scope="col">Wybierz nazwę</th>
        <th class="text-center" scope="col">Wprowadź logo</th>
      </tr>
      </thead>
      <tr class="tr-form">
        <td class="text-center">
          <form>
            <input type="text" placeholder="Nazwa firmy">
            <span class="input-group-btn p-3">
            <button class="btn btn-dark">Zapisz</button>
          </span>
          </form>
        </td>
        <td class="text-center">
          <form>
            <input type="file" id="logo">
            <span class="input-group-btn">
              <button class="btn btn-secondary">Zapisz</button>
            </span>
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
