<div class="container-fluid border">
  <nav class="navbar navbar-light navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand app-name" (click)="navigateTo('')">Game</a>

    <div class="container-fluid justify-content-center collapse navbar-collapse" id="game-nav">
      <ul class="navbar-nav m-auto">
        <img class="menu-icon" src="../../../assets/icons/email.png" alt=""/>
        <li class="nav-item active">
          <a class="nav-link" (click)="navigateTo('email')">Email</a>
        </li>

        <img class="menu-icon" src="../../../assets/icons/name.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('company-name')">Nazwa</a>
        </li>

        <img class="menu-icon" src="../../../assets/icons/mission.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('mission')">Misja</a>
        </li>

        <img class="menu-icon" src="../../../assets/icons/offer.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('offer')">Oferta</a>
        </li>

        <img class="menu-icon" src="../../../assets/icons/investment.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('investments')">Inwestycje</a>
        </li>

        <img class="menu-icon" src="../../../assets/icons/finances.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('finance')">Finanse</a>
        </li>

        <img class="menu-icon" src="../../../assets/icons/bugs.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('errors')">Lista błędów</a>
        </li>

        <img class="menu-icon" src="../../../assets/icons/send.png" alt=""/>
        <li class="nav-item">
          <a class="nav-link" (click)="onSend()"><u>Wyślij</u></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
