<div class="container justify-content-center text-center mt-5">
  <table class="table mt-2 border">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Kwota</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Fundusze początkowe:</td>
      <td class="text-info">{{funds.initialFunds | number : '1.2-2'}} zł</td>
    </tr>
    <tr>
      <td>Obecne fundusze</td>
      <td class="text-primary">{{funds.funds | number : '1.2-2'}} zł</td>
    </tr>
    <tr>
      <td>Oczekiwane zyski:</td>
      <td class="text-success">{{funds.estimatedProfits | number : '1.2-2'}} zł</td>
    </tr>
    <tr>
      <td>Oczekiwane wydatki:</td>
      <td class="text-warning">{{funds.estimatedExpenses | number : '1.2-2'}} zł</td>
    </tr>
    </tbody>
  </table>
</div>
