<div class="container mt-5">
  <table class="table justify-content-center border">
    <thead>
    <tr>
      <th class="text-center" scope="col">Skrzynka pocztowa</th>
    </tr>
    </thead>
  </table>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Miesiąc</th>
      <th scope="col">Nadawca</th>
      <th scope="col">Temat</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let email of emails">
      <th scope="row">{{email.month}}</th>
      <td>{{email.from}}</td>
      <td>{{email.topic}}</td>
      <td><button disabled class="btn btn-dark">Zobacz</button></td>
    </tr>
    </tbody>
  </table>
</div>
