<div class="container container-email mt-5">
  <table class="table justify-content-center border">
    <thead>
    <tr>
      <th class="text-center" scope="col">Email</th>
      <th class="text-center" scope="col">Styczeń - runda 1</th>
      <th class="text-center" scope="col">Skrzynka pocztowa</th>
    </tr>
    </thead>
  </table>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Miesiąc</th>
      <th scope="col">Nadawca</th>
      <th scope="col">Temat</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">STYCZEŃ</th>
      <td>URZĄD SKARBOWY</td>
      <td>Witamy nową firmę w naszej miejscowości!</td>
      <td><a href="#">Zobacz -></a></td>
    </tr>
    <tr>
      <th scope="row">STYCZEŃ</th>
      <td>POWIATOWY INSPEKTOR PRACY</td>
      <td>Badania lekarskie pracowników i szkolenia BHP.</td>
      <td><a href="#">Zobacz -></a></td>
    </tr>
    <tr>
      <th scope="row">STYCZEŃ</th>
      <td>MENTOR</td>
      <td>Wsparcie biznesu - Styczeń.</td>
      <td><a href="#">Zobacz -></a></td>
    </tr>
    </tbody>
  </table>
</div>
