<div class="container">
  <h3 class="mt-5">Lista gier:</h3>
  <a class="btn btn-secondary" href="games/add">Dodaj grę</a>

  <table class="table mt-2">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa gry</th>
      <th scope="col">Typ</th>
      <th scope="col">Liczba graczy</th>
      <th scope="col">Runda</th>
      <th scope="col">Graj</th>

      <th *ngIf="isAdmin$ | async" scope="col">Następna runda</th>
      <th *ngIf="isAdmin$ | async" scope="col">Usuń grę</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of games; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{game.name}}</td>
      <td>{{game.type}}</td>
      <td>{{game.usersCount}}</td>
      <td>{{game.globalRound}}/{{game.roundLimit}}</td>
      <td>
        <a class="btn btn-primary" (click)="onPlay(game.id)">
          Graj!
        </a>
      </td>
      <td *ngIf="isAdmin$ | async">
        <a class="btn btn-secondary" (click)="onNextRound(game.id)">
          Następna runda
        </a>
      </td>
      <td *ngIf="isAdmin$ | async">
        <button class="btn btn-danger" (click)="deleteGame(game.id)">
          Usuń
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
